@import "../../app.scss";

.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-size: 100px;
    z-index: 6;

    background: black;

    background-size: 200% auto;
    background-position: left center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    @include mobile {
      font-size: 72px;
      text-align: center;
    }
  }

  .city {
    background-image: url("/city.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;

    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 3;

    opacity: 1;
    filter: brightness(1) blur(2px);

    mask-image: linear-gradient(to bottom, #000 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, #000 75%, transparent 1000%);

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .mountains {
    background-image: url("/mountains.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    height: 40vh;
    position: absolute;
    bottom: 0;
    z-index: 4;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .planets {
    background-size: contain;
    background-position: bottom center;
    width: 40%;   // reduced size
    height: 40%;  // reduced size
    position: absolute;
    bottom: 0;
    right: 10vw;  // position to bottom right
    z-index: 0;

    @include mobile {
      width: 60%;
      height: 60%;
    }
  }

  .cloud {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 2;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      opacity: 0.9;
      object-fit: cover;
    }

    &--new {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 2;
    }

    &--static {
      z-index: 2;
    }
  }

  .sun {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 60%;

    img {
      width: 80%;
      height: 35%;
      display: block;
    }
  }

  .moon {
    position: absolute;
    width: 15%;
    aspect-ratio: 1 / 1;
    z-index: 2;
    background-image: url("/moon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
  }

  .stars {
    position: absolute;
    inset: 0;
    background-image: url("/stars.png");
    background-size: cover;
    background-position: center;
    z-index: 1.5;
    opacity: 0;
  }

  .dim-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    background-color: rgba(255, 255, 255, 0.3);
    pointer-events: none;
  }
}
